@font-face {
	  font-family: 'Montepetrum regular';
	  src: url('fonts/Montepetrum regular.ttf')  format('truetype');/* Safari, Android, iOS */
}

@font-face {
	  font-family: 'Montepetrum bold';
	  src: url('fonts/Montepetrum bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}


body {
	font-family: 'Montepetrum bold';
	font-size:22px;
	font-weight: 100;
	color: #000;

	background: url(../img/background_nograin.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	/*color:#232D11;*/
	color:#2B3814;
}
/*a:visited {
	color: #000;
}*/

li {
	list-style-type: none;
}


.wrapper {
	background: url(../img/background_overlay.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width:100%;
	height:100%;
	
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	
	transition: all 0.5s ease;
}

.wrapper:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
}


.home {
	text-align: center;
}

.home-title {
	font-size: 1.5em;
	margin-top:20px;
}

.home-subtitle {
	font-size: 1.2em;
	font-family: 'Montepetrum regular';
}

.home-menu-wrapper {
	border-top: 1px solid #6F7275;
	margin-top: 10px;
}

.home-menu {
	font-size: 1.5em;
	line-height:1.1;
	margin-top: 10px;
}


.menu-overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(13,13,13,0.9);
    z-index: 997;
}

.icon-bar {
	display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
    margin-top:4px;
}