/* GENERAL SETTINGS */

	@font-face {
		  font-family: 'Generica';
		  src: url('../fonts/generica/Generica.otf')  format('opentype');/* Safari, Android, iOS */
	}

	@font-face {
		  font-family: 'Generica bold';
		  src: url('../fonts/generica/Generica Bold.otf')  format('opentype'); /* Safari, Android, iOS */
	}

	@font-face {
		font-family: "icons";
		src:url("../fonts/icons/icons.eot");
		src:url("../fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons/icons.woff") format("woff"),
		url("../fonts/icons/icons.ttf") format("truetype"),
		url("../fonts/icons/icons.svg#icons") format("svg");
		font-weight: normal;
		font-style: normal;
	}



	body {
		font-family: 'Generica';
		font-size:18px;
		font-weight: 100;
		/*color: #000;*/
		color:rgb(60,60,60);
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Generica';
	}
	a, a:visited {
		color:rgb(60,60,60) ;
		outline: none;
		text-decoration: none;
	}
	a:hover {
		/*color:#232D11;*/
		/*color:#2B3814;*/
		color:#3B4824 !important;
	}


	li {
		list-style-type: none;
	}

/* END GENERAL SETTINGS */

.index {
	
	background: url(../img/index_back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.about {
		
	background: url(../img/aboutme_back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.contact {
			
	background: url(../img/contact_back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.work {
			
	background: url(../img/aboutme_back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.musically {
	background: url(../img/musically_back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.electronically {
	background: url(../img/elec_back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.programmingly {
	background: url(../img/prog_back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.wrapper {
	background: url(../img/overlay.png) repeat center center scroll;	    
	-webkit-background-size: 500px 500px;
	-moz-background-size: 500px 500px;
	-o-background-size: 500px 500px;
	background-size: 500px 500px;
	/*width:100%;*/
	height:150vh;
/*	
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);*/
	
	transition: all 0.5s ease;
}

.wrapper:hover {
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
}

/* HOME */

	.home {
		text-align: center;
	}

	.home-title {
		font-size: 1.5em;
		margin-top:20px;
		font-weight: 800;
	}

	.home-subtitle {
		font-size: 1.1em;
	}

/* END HOME */



/* PAGES */

	.page {
		text-align: center;
		margin-bottom:50px;
	}

	.page-title {
		font-size: 2.5em;
		margin-top:20px;
		font-weight: 800;
	}

	.page-subtitle {
		font-size: 1.8em;
	}


/* END PAGES */

/* WORK */

	.work-wrappers {

		margin-top:50px;
				text-align:center;
		vertical-align: middle;
		font-size: 1.8em;
		
		border: 1px solid #6F7275;
		border-radius:2px;
		
		padding:100px 0px 100px 0px;

		background-color: rgba(200,200,200,0.3);
		transition: all 0.5s ease;
	}

	.work-wrappers:hover {
		background-color: rgba(200,200,200,0.1);
		border: 1px solid rgba(200,200,200,0);;
	}

	.work-tiles {
		
	}

	.work-tiles img {
		width:55px;
		height:55px;
	}

	.work-tiles p {
		font-weight:800;
	}

	/** Music **/
	
	.musically a {
		color : rgb(200,200,200) !important;
	}

	.musically .page-title, .musically .page-subtitle {
		text-shadow: 1px 1px rgb(200,200,200);
	}

	/** Electronic **/
	
	.electronically a {
		text-shadow: 1px 2px rgb(60,60,60);
    	color: rgb(200,200,200) !important;
	}

	.electronically .page-title, .electronically .page-subtitle {
		text-shadow: 1px 2px rgb(60,60,60);
    	color: rgb(200,200,200);
	}

/* END WORK */

/* ABOUT */

	.about-wrappers {

		margin-top:50px;
		text-align:justify;
		vertical-align: middle;
		font-size: 1em;
		
		border: 1px solid #6F7275;
		border-radius:2px;
		
		padding:20px;
		font-weight: 800;

		background-color: rgba(200,200,200,0.4);
	}

	.about-img-wrapper {
		height: 17em;
		width: 17em;
	}


	.about-wrappers img {
		height: 15em;
		width: 15em;
		border-radius:3px;
		margin-left:auto;
		margin-right:auto;
		
		filter: grayscale(40%);
		-webkit-filter: grayscale(40%);
		-moz-filter: grayscale(40%);
		-o-filter: grayscale(40%);
		-ms-filter: grayscale(40%);
	}


/* END ABOUT */

/* CONTACT */

.contact-wrappers {
	margin-top:50px;
	text-align:center;
	vertical-align: middle;
	font-size: 1em;
	
	border: 1px solid #6F7275;
	border-radius:2px;
	
	padding:20px;
	font-weight: 800;

	background-color: rgba(200,200,200,0.4);
}

.contact-wrappers .icon {
	vertical-align: text-top;
}

/* END CONTACT */


/* MENU */

	.menu-current {
		color:#3B4824 !important;
	}

	.home-menu-wrapper {
		border-top: 1px solid #6F7275;
		margin-top: 10px;
	}

	.home-menu {
		font-size: 1.3em;
		line-height:1.7;
		margin-top: 10px;
		font-weight:800;
	}

	.page-menu {
		font-size: 1.3em;
		line-height:1.7;
		margin-top: 10px;
		font-weight:800;
	}

	.page-menu li {
		list-style-type: none;
	    display: inline-block;
	    margin: 10px 10px 0px 0px;
	}

	#menu-overlay {
		position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(13,13,13,0.95);
	    z-index: 997;
	}


	.menu-bar {
		display: block;
	    width: 22px;
	    height: 2px;
	    border-radius: 1px;
	    background-color: #000;
	    margin-top:4px;
	    
	}

	#navbar-close {
		z-index: 999;
	}

	.menu-cross {
		margin-right: 1px;
	}


	.menu-cross:before,.menu-cross:after{
	    content:'';
	    position:absolute;
	    width: 22px;
	    height: 2px;
	    border-radius: 1px;
	    background-color: #000;
	    top:19px;
	    box-shadow:0 0 2px 0 #ccc;
	}

	.menu-cross:before{
	    -webkit-transform:rotate(45deg);
	    -moz-transform:rotate(45deg);
	    transform:rotate(45deg);
	    right:14px;
	}
	.menu-cross:after{
	    -webkit-transform:rotate(-45deg);
	    -moz-transform:rotate(-45deg);
	    transform:rotate(-45deg);
	    right:14px;
	}

/* END MENU */


/* SOCIALS*/

	.socials {
		display:inline-block;
		text-align: right;
		margin-top:10px;
	}

	.socials img {
		width:25px;
		height:25px;
		margin:15px 5px 0px 0px;
	}
	.icons {
		color:rgb(60,60,60);
	}

/* END SOCIALS */


/* ICONS */

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chipset:before {
  content: "\62";
}
.icon-computer:before {
  content: "\63";
}
.icon-gh:before {
  content: "\64";
}
.icon-in:before {
  content: "\65";
}
.icon-tw:before {
  content: "\66";
}
.icon-volume:before {
  content: "\67";
}
.icon-phone:before {
  content: "\6b";
}
.icon-mail:before {
  content: "\6c";
}
.icon-audiosoft:before {
  content: "\68";
}
.icon-codesoft:before {
  content: "\69";
}
.icon-arduino:before {
  content: "\6a";
}
.icon-network:before {
  content: "\61";
}




.hidden {
	visibility: hidden;
}

.visibile {
	visibility: visible;
}

.show {
	display:block;
}
