/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
}$

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
}


/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
	
	.home-title {
		border-top: 1px solid #6F7275;	
		padding-top:20px;
		margin-top: 0px;
	}

	.home-menu-mobile {
		display:block;
		margin-top: 10px;
    	margin-bottom: 10px;
	}

/*	.home-menu-wrapper {
		display:none;
	}*/
}




/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}